<template>
  <div>
    <!-- Form to add new todo -->
    <q-form @submit="addTodo()" class="q-ma-md">
      <q-input v-model="form.title" label="Input Field" />
      <q-btn
        :loading="btnLoadingState"
        type="submit"
        label="Submit"
        color="primary"
      />
    </q-form>

    <!-- Table to display todos -->
    <q-table
      title="Todos"
      :rows="rows"
      :columns="columns"
      row-key="name"
      @row-click="onRowClick"
    />

    <!-- Form to update or delete todo -->
    <q-form @submit="updateTodo()" class="q-ma-md" v-if="selectedRow.id">
      <q-btn
        :loading="deleteBtnLoadingState"
        @click="deleteTodo()"
        class="q-ml-md"
        label="Delete"
        color="negative"
      />
      <q-btn
        :loading="btnLoadingState"
        @click="completeTodo()"
        class="q-ml-md"
        label="Complete"
        color="primary"
      />
    </q-form>
  </div>
</template>

<script>
import { ref } from "vue";
import axios from "axios";

export default {
  name: "IndexPage",
  setup() {
    // Reactive variables
    const rows = ref([]);
    const columns = ref([
      {
        name: "title",
        label: "Title",
        align: "left",
        field: "title",
      },
      {
        name: "completed",
        label: "Completed",
        align: "left",
        field: "completed",
      },
    ]);
    const form = ref({
      userId: 1,
      title: null,
      completed: false,
    });
    const btnLoadingState = ref(false);
    const selectedRow = ref({});
    const deleteBtnLoadingState = ref(false);

    // Function to add new todo
    const addTodo = () => {
      btnLoadingState.value = true;
      axios
        .post("https://jsonplaceholder.typicode.com/todos", form.value)
        .then((response) => {
          if (response.status === 201) {
            rows.value.unshift(response.data);
            form.value.title = null;
          }
        })
        .catch((error) => {
          console.error("Error adding todo:", error);
        })
        .finally(() => {
          btnLoadingState.value = false;
        });
    };

    // Function to delete todo
    const deleteTodo = () => {
      deleteBtnLoadingState.value = true;
      axios
        .delete(
          `https://jsonplaceholder.typicode.com/todos/${selectedRow.value.id}`
        )
        .then((response) => {
          if (response.status === 200) {
            rows.value = rows.value.filter(
              (row) => row.id !== selectedRow.value.id
            );
            form.value.title = null;
            selectedRow.value = {};
          }
        })
        .catch((error) => {
          console.error("Error deleting todo:", error);
        })
        .finally(() => {
          deleteBtnLoadingState.value = false;
        });
    };

    // Function to handle row click
    const onRowClick = (evt, row) => {
      selectedRow.value = row;
      form.value.title = row.title;
    };

    // Function to update todo
    const updateTodo = () => {
      btnLoadingState.value = true;
      axios
        .put(
          `https://jsonplaceholder.typicode.com/todos/${selectedRow.value.id}`,
          {
            title: form.value.title,
          }
        )
        .then((response) => {
          if (response.status === 200) {
            let index = rows.value.findIndex(
              (row) => row.id === selectedRow.value.id
            );
            rows.value[index].title = response.data.title;
            form.value.title = null;
            selectedRow.value = {};
          }
        })
        .catch((error) => {
          console.error("Error updating todo:", error);
        })
        .finally(() => {
          btnLoadingState.value = false;
        });
    };

    // Function to mark todo as completed
    const completeTodo = () => {
      btnLoadingState.value = true;
      axios
        .patch(
          `https://jsonplaceholder.typicode.com/todos/${selectedRow.value.id}`,
          {
            completed: true,
          }
        )
        .then((response) => {
          if (response.status === 200) {
            let index = rows.value.findIndex(
              (row) => row.id === selectedRow.value.id
            );
            rows.value[index].completed = true;
            form.value.title = null;
            selectedRow.value = {};
          }
        })
        .catch((error) => {
          console.error("Error completing todo:", error);
        })
        .finally(() => {
          btnLoadingState.value = false;
        });
    };

    // Function to fetch todos
    const getTodos = () => {
      axios
        .get("https://jsonplaceholder.typicode.com/todos")
        .then((response) => {
          rows.value = response.data;
        })
        .catch((error) => {
          console.error("Error fetching todos:", error);
        });
    };

    // Fetch todos on component mount
    getTodos();

    // Return variables and functions
    return {
      rows,
      columns,
      form,
      btnLoadingState,
      addTodo,
      selectedRow,
      onRowClick,
      updateTodo,
      deleteBtnLoadingState,
      deleteTodo,
      completeTodo,
    };
  },
};
</script>
