<template>
  <div class="flex justify-center">
    <div class="full-width q-pa-xl">
      <h6 class="q-my-none q-mb-md">My Tasks</h6>
      <q-form ref="form" @submit="!selectedTodo ? addTodo() : updateTodo()">
        <div class="row gap">
          <q-input
            v-model="text"
            dense
            outlined
            label="What's your todo?"
            class="q-pa-none col-10"
            lazy-rules
            :rules="[
              () => !(!text && !form.touched.text) || 'Field is required',
              () => !isTodoDuplicate(text) || 'Todo already exists',
            ]"
          />
          <div class="col-2 q-pl-sm">
            <q-btn
              :class="`bg-${!selectedTodo ? 'primary' : 'secondary'} fit`"
              color="white"
              glossy
              dense
              flat
              type="submit"
              :icon="!selectedTodo ? 'add' : 'edit'"
            />
          </div>
        </div>
      </q-form>
      <div class="q-mt-xl">
        <q-card class="q-mt-sm" v-for="row in MyTasks" :key="row.id">
          <q-card-section
            :class="`bg-${
              selectedTodo && selectedTodo.id === row.id
                ? 'secondary'
                : 'primary'
            } text-white q-pa-none flex justify-between items-center`"
            @click="selectTodo(row)"
          >
            <div class="text-bold q-pl-lg">{{ row.todo }}</div>
            <div class="bg-white q-pa-sm">
              <q-btn
                @click.stop="toggleDialog(row, 'mark-done')"
                flat
                icon="check_circle_outline"
                color="green"
              />
              <q-btn
                @click.stop="toggleDialog(row, 'delete')"
                flat
                icon="delete_outline"
                color="red"
              />
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>

  <q-dialog v-model="showDialog" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <div v-if="toMarkAsDone" class="q-ml-sm">
          Are you sure you want to mark
          <span class="text-green">"{{ toMarkAsDone.todo }}"</span> as done?
        </div>
        <div v-else-if="toDelete" class="q-ml-sm">
          Are you sure you want to delete
          <span class="text-green">"{{ toDelete.todo }}"</span>?
        </div>
        <div v-else class="q-ml-sm">
          <q-input v-model="editText" label="Edit Todo" />
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Cancel" color="primary" v-close-popup />
        <q-btn
          v-if="toMarkAsDone || toDelete"
          @click="toMarkAsDone ? markAsDone() : removeTodo()"
          flat
          label="Yes"
          color="primary"
          v-close-popup
        />
        <q-btn
          v-else
          @click="updateTodo()"
          flat
          label="Save"
          color="primary"
          v-close-popup
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup>
import { MyTasks, FinishedTasks, DeletedTasks } from "../composables/Tasks";
import { ref } from "vue";

let text = ref("");
let editText = ref("");
let selectedTodo = ref(null);
let showDialog = ref(false);
let toMarkAsDone = ref(null);
let toDelete = ref(null);
let form = ref(null); // Add a reference for the form element

const addOrUpdateTodo = () => {
  if (!selectedTodo.value) {
    addTodo();
  } else {
    updateTodo();
  }
};

const addTodo = () => {
  if (!isTodoDuplicate(text.value)) {
    let id = MyTasks.value.length;
    MyTasks.value.push({
      id: ++id,
      todo: text.value,
    });
    text.value = "";
    form.value.resetValidation(); // Reset validation for the form
  }
};

const selectTodo = (row) => {
  selectedTodo.value = row;
  text.value = row.todo;
};

const updateTodo = () => {
  let index = MyTasks.value.findIndex((t) => t.id === selectedTodo.value.id);
  index !== -1 && (MyTasks.value[index].todo = text.value);

  text.value = selectedTodo.value = null;
  form.value.reset();
};

const toggleDialog = (row, status) => {
  showDialog.value = true;
  toMarkAsDone.value = toDelete.value = null;
  status !== "delete" ? (toMarkAsDone.value = row) : (toDelete.value = row);
};

const markAsDone = () => {
  let index = MyTasks.value.findIndex((t) => t.id === toMarkAsDone.value.id);
  if (index !== -1) {
    MyTasks.value.splice(index, 1);
    FinishedTasks.value.push(toMarkAsDone.value);
  }
  toMarkAsDone.value = null;
  showDialog.value = false;
};

const removeTodo = () => {
  let index = MyTasks.value.findIndex((t) => t.id === toDelete.value.id);
  if (index !== -1) {
    MyTasks.value.splice(index, 1);
    DeletedTasks.value.push(toDelete.value);
  }
  toDelete.value = null;
  showDialog.value = false;
};

const isTodoDuplicate = (todo) => {
  return MyTasks.value.some((t) => t.todo === todo);
};
</script>
