<template>
  <q-form @submit="addTodo()" class="q-ma-md">
      <q-input v-model="form.title" label="Input Field" />
      <q-btn :loading="btnLoadingState"
 type="submit" label="Submit" color="primary" />
    </q-form>

  <div id = "TodoComponent">
    <q-page class="q-ma-xl">
      <q-table title="Todos" :rows="rows" :columns="columns" row-key="name" />
    </q-page> 
  </div>
</template>

<script>
import { ref } from "vue";
import axios from 'axios';
export default {
  setup() {

    const data = ref([]);
    const getTodos = async () => {
      try{ 
        const resp =  await axios .get("https://jsonplaceholder.typicode.com/todos")
        data.value = resp.data;} catch (error) {console.error(error);}
    };
    console.log(getTodos())
    getTodos();
    //let rows = ref([]);
    let columns = ref([
      {
        name: "title",
        label: "Title",
        align: "left",
        field: "title",
      },
      {
        name: "completed",
        label: "Completed",
        align: "left",
        field: "completed",
      },
    ]);
    return { data, columns };
  },
};
const addTodo = () => {}
</script>
